<div id="client_peer_entry_{{peer_id}}">
  <div id="client_peer_entry_{{peer_id}}_key">username</div>
  <div id="client_peer_entry_{{peer_id}}_val">{{username}}</div>
  <div id="client_peer_entry_audio_{{peer_id}}_key">audio</div>
    <audio id="client_peer_entry_audio_{{peer_id}}_audio" autoplay controls />
  <div id="client_peer_entry_audio_{{peer_id}}_val"></div>
</div>
