<div id="server_client_entry_{{client_id}}">
  <div id="server_client_entry_{{client_id}}_key">username</div>
  <div id="server_client_entry_{{client_id}}_val">{{username}}</div>
  <div id="server_client_entry_last_recv_{{client_id}}_key">last received</div>
  <div id="server_client_entry_last_recv_{{client_id}}_val"></div>
</div>
